In [20]:
!pip install streamlit
from flask import Flask
import looker_sdk
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import plotly.express as px
import streamlit as st

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit in /usr/local/lib/python3.10/dist-packages (1.22.0)
Requirement already satisfied: altair<5,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (4.2.2)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (5.3.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (8.1.3)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.10/dist-packages (from streamlit) (6.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from streamlit) (1.22.4)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.10/dist-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=0.25 in /usr/local/lib/python3.10/dist-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (8.4.0)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.10/dist-packages (from streamlit) (1.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.10/dist-packages (from streamlit) (2.27.1)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (13.3.4)
Requirement already satisfied: tenacity<9,>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml in /usr/local/lib/python3.10/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (4.5.0)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.10/dist-packages (from streamlit) (4.3)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.10/dist-packages (from streamlit) (0.20.0)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.1.31)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.10/dist-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.10/dist-packages (from streamlit) (6.3.1)
Requirement already satisfied: watchdog in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.0.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython!=3.1.19->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.4->streamlit) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=0.25->streamlit) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit) (3.4)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->streamlit) (2.14.0)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.10/dist-packages (from tzlocal>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from validators>=0.2->streamlit) (4.4.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair<5,>=3.2.0->streamlit) (2.1.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->streamlit) (0.1.2)
Requirement already satisfied: tzdata in /usr/local/lib/python3.10/dist-packages (from pytz-deprecation-shim->tzlocal>=1.1->streamlit) (2023.3)

In [5]:
st.set_page_config(page_title="Sales Dashboard", page_icon=":bar_chart:", layout="wide")

Read Sales Files

In [21]:
jan = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_January_2019.csv')
feb = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_February_2019.csv')
mar = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_March_2019.csv')
apr = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_April_2019.csv')
may = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_May_2019.csv')
jun = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_June_2019.csv')
jul = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_July_2019.csv')
aug = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_August_2019.csv')
sep = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_September_2019.csv')
oct = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_October_2019.csv')
nov = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_November_2019.csv')
dec = pd.read_csv('/content/drive/MyDrive/2019_sales/Sales_December_2019.csv')

Cleaning Data

In [22]:
year = [jan, feb, mar, apr, may, jun ,jul ,jul, aug, sep, oct, nov , dec]
df = pd.concat(year)
df = df.dropna()
df.shape

df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

Calculate Sales / Revenue

In [23]:
df.dtypes
#convert dtypes
#multiply quantity and price
#sort sales by month
df.loc[:,'Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors='coerce')
df.loc[:,'Price Each'] = pd.to_numeric(df['Price Each'], errors='coerce')
df.dtypes

df.loc[:,'Sales'] = df['Price Each']*df['Quantity Ordered']
#df.Sales

<ipython-input-23-9f2fd44538bf>:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors='coerce')
<ipython-input-23-9f2fd44538bf>:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'Price Each'] = pd.to_numeric(df['Price Each'], errors='coerce')

In [24]:
app = Flask(__name__)

@app.route("/")

def index():
  return "Hello world"

if __name__ == "__main__":
  app.run(debug== True)

NameError: ignored

In [26]:
from flask import Flask

app = Flask(__name__)

app.debug = True

@app.route("/")
def home():
    return "Hello, World!"

if __name__ == "__main__":
    app.run()

 * Serving Flask app '__main__'
 * Debug mode: on

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:Press CTRL+C to quit
INFO:werkzeug: * Restarting with watchdog (inotify)

In [ ]:
#number of rows
len(df)

200631

In [ ]:
df.head(6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month
0,141234,iPhone,1.0,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",700.00,01
1,141235,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",14.95,01
2,141236,Wired Headphones,2.0,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",23.98,01
3,141237,27in FHD Monitor,1.0,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",149.99,01
4,141238,Wired Headphones,1.0,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",11.99,01
5,141239,AAA Batteries (4-pack),1.0,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016",2.99,01

Sales by Month

In [ ]:
df['Order Date']

def month(x):
  return x.split('/')[0]

df['Month'] = df['Order Date'].apply(month)

monthly_sales = df.groupby('Month')['Sales'].sum()
monthly_sales

Month
01            1822256.73
02            2202022.42
03            2807100.38
04            3390670.24
05            3152606.75
06            2577802.26
07            5292523.14
08            2246620.19
09            2097560.13
10            3736726.88
11            3199603.20
12            4613443.34
Order Date          0.00
Name: Sales, dtype: float64

Products Sold

In [ ]:
df.loc[:, 'Product'].unique

<bound method Series.unique of 0                            iPhone
1          Lightning Charging Cable
2                  Wired Headphones
3                  27in FHD Monitor
4                  Wired Headphones
                    ...
25112      Lightning Charging Cable
25113         AA Batteries (4-pack)
25114               Vareebadd Phone
25115              Wired Headphones
25116    Bose SoundSport Headphones
Name: Product, Length: 200631, dtype: object>

Sales Difference (Monthly)

In [ ]:
def sales_difference():
    monthly_sales = df.groupby('Month')['Sales'].sum()
    growth = monthly_sales.diff()
    growth = growth.iloc[1:]
    
    return growth

sales_difference()

Month
02             379765.69
03             605077.96
04             583569.86
05            -238063.49
06            -574804.49
07            2714720.88
08           -3045902.95
09            -149060.06
10            1639166.75
11            -537123.68
12            1413840.14
Order Date   -4613443.34
Name: Sales, dtype: float64

Sales Percentage Growth (Monthly)

In [ ]:
def sales_pct_growth():
    monthly_sales = df.groupby('Month')['Sales'].sum()
    growth = monthly_sales.pct_change()*100
    growth = growth.iloc[1:]
    
    return growth

sales_pct_growth()

Month
02             20.840405
03             27.478283
04             20.789063
05             -7.021134
06            -18.232673
07            105.311448
08            -57.551056
09             -6.634858
10             78.146353
11            -14.374176
12             44.187984
Order Date   -100.000000
Name: Sales, dtype: float64

Sales by location

In [ ]:
def city(x):
    return x.split(', ')[1]

#df['Purchase Address']
#'944 Walnut St, Boston, MA 02215'.split(', ')[1]

In [ ]:
#def extract_city(address):
#    return address.split(', ')[1]

#df = df.assign(city=df['Purchase Address'].apply(extract_city))

#df['city'] = df['Purchase Address'].apply(extract_city)

IndexError: ignored

In [ ]:
#df['city']=df['Purchase Address'].apply(city)
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Sales', 'Month'],
      dtype='object')

In [ ]:
#df[['Sales', 'Month',]].to_excel('Order_dates3.xlsx', index=False)
df['Order Date']

df['Order Date'] = pd.to_datetime(df['Order Date'], errors ='coerce')
df['Order Time'] = df['Order Date'].dt.time
df['Order Date'] = df['Order Date'].dt.date

df['Order Date']

0        2019-01-22
1        2019-01-28
2        2019-01-17
3        2019-01-05
4        2019-01-25
            ...
25112    2019-12-11
25113    2019-12-01
25114    2019-12-09
25115    2019-12-03
25116    2019-12-21
Name: Order Date, Length: 200631, dtype: object

In [ ]:
df['Purchase Address']

0               944 Walnut St, Boston, MA 02215
1              185 Maple St, Portland, OR 97035
2         538 Adams St, San Francisco, CA 94016
3            738 10th St, Los Angeles, CA 90001
4                 387 10th St, Austin, TX 73301
                          ...
25112    14 Madison St, San Francisco, CA 94016
25113      549 Willow St, Los Angeles, CA 90001
25114          273 Wilson St, Seattle, WA 98101
25115            778 River St, Dallas, TX 75001
25116    747 Chestnut St, Los Angeles, CA 90001
Name: Purchase Address, Length: 200631, dtype: object

In [ ]:
#cities = df['Purchase Address'].apply(lambda x: x.split(',')[1].strip())
#print(cities)
#except IndexError:
#   print("Index out of range")

SyntaxError: ignored

Average deal size

In [ ]:
deal_size = df['Sales'] * 1
deal_size

avg_deal_size = avg_deal_size = deal_size.mean()
avg_deal_size

185.4711855214466

Sales by product

In [ ]:
sales_by_product = df.groupby('Product')['Sales'].sum()
sales_by_product

Product
20in Monitor                   490115.44
27in 4K Gaming Monitor        2623462.73
27in FHD Monitor              1223168.45
34in Ultrawide Monitor        2531113.39
AA Batteries (4-pack)          114074.88
AAA Batteries (4-pack)          99815.17
Apple Airpods Headphones      2532300.00
Bose SoundSport Headphones    1451554.83
Flatscreen TV                 1565400.00
Google Phone                  3565800.00
LG Dryer                       420600.00
LG Washing Machine             430800.00
Lightning Charging Cable       374183.55
Macbook Pro Laptop            8663200.00
Product                             0.00
ThinkPad Laptop               4447955.52
USB-C Charging Cable           308572.90
Vareebadd Phone                885200.00
Wired Headphones               265218.80
iPhone                        5146400.00
Name: Sales, dtype: float64